* {
    margin: 0 auto;
    font-family: "Merriweather", serif;
}

/* Banner related styles */

header {
    background-image: url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
}

.banner-p {
    color: #FFF;
    text-align: center;
    font-size: 32px;
}

.banner-h {
    color: #FFF;
    text-align: center;
    width: 632px;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
}

.happy-new-year-offer {
    text-align: center;
    margin-top: 150px;
}

.offer {
    color: #F00;
    margin-bottom: 50px;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
}

.holiday {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.categories {
    color: #070211;
    margin-bottom: 50px;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.welcome-party {
    background-image: url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin-top: 120px;
}

.welcome {
    display: flex;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}

.welcome-h {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    margin-top: 100px;
    letter-spacing: 7.04px;
}

.welcome-p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 40px;
}

.welcome-2024{
    margin-top: 70px;
}